[KSplash Theme: Kubuntu Maverick Meerkat]
Name = KDE 4.4 Splash Screen
Description = KDE Splash (matching the Kubuntu Maverick Meerkat plymouth theme)
Version = 1.0
Author = Nils Schnabel <github@to.nilsschnabel.de>
Homepage = https://github.com/nils/ksplash-maverick

# Theme behaviour settings.
Engine = KSplashX
